<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Meus Bolos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/paginapagamento']">
        <ion-icon icon-only name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list *ngFor="let bolo of bolos">
      <ion-item [routerLink]="['/paginapedido',bolo['id_firebase']]">
        <ion-thumbnail slot="start">
          <img [src]="bolo.img">
        </ion-thumbnail>
        <ion-label>
          {{ bolo.nome }}
          <p>{{ bolo.descricao }}</p>
          <ion-note color="primary" slot="end" *ngIf="bolo.preco">{{ bolo.preco | currency: 'BRL' }}</ion-note>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>
</ion-content>